body {
  margin: 0;
  padding: 0;
  background-image: url('https://i.pinimg.com/originals/e5/6e/67/e56e6795bff1d8609fa85ee844ebd790.jpg');
  background-size: cover;
  font-family: 'Arial', sans-serif;
  color: #222;
}